@media screen and (min-width:339px) and (max-width:700px){

    .alert-info{
        background-color: lightblue;
        color: gray;
        border: 1px solid lightgray;
        margin-top: auto;
        display: flex;
        align-items: center;
        height: 3em;
        justify-content: center;

    }
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        margin: auto;

    }
    .nav-links{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 1em;
        padding: 0;
        width: auto;
        height: auto;


    }
    li{
        display: inline-block;
        color: black;
        background-color: lightgray;
        margin: 1em;
        border: 1px solid black;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;

    }
    img{
        height: 100%;
        width: 100%;
    }
    .main{
        display: inline-block;

    }
    .sub-section{
        display: inline-block;
        font-style: italic;

    }
    footer{

    }
}

@media screen and (min-width:768px) {
    *{}
}