html{
    background-color:#FFFDD0;
    font-family: Helvetica;
}

.banner{
    background-image: url("water-drop.jpg");
    background-position: center center, center top;
}
div p{
    color: white;
    mix-blend-mode: difference;
    font-size:4em;
    text-decoration: underline
}
.fancy-header{
    text-align: center;
    color:purple;
    text-decoration: underline;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column{
    flex: 25%;
    padding: 0 4px;
}
.column img{
    margin-top:8px;
    vertical-align: middle;
    width:100%
}

ul{
    list-style-type: square;
}
ol{
    list-style-type: upper-roman;

}

table{
    table-layout: fixed;
    width: 100%;
    border: 3px solid black;
}
td{
    border: 1px solid black;
    font-size: medium;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a:hover {
    color: green;
}
a:visited{
    color: purple;
}